@import "tailwindcss";

@theme {

  /* Reset defaults if needed */

  

  /* Colors */
  --color-primary: #1e40af;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;

  /* Fonts */
  --font-display: "Lora", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;

  /* Spacing */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}
